In [30]:
#pip install xmltodict

In [31]:
#import pandas as pd
#import xmltodict
#input_path = 'http://localhost/export.xml'
#with open(input_path, 'r') as xml_file:
#    input_data = xmltodict.parse(xml_file.read())

In [32]:
import requests

In [33]:
response = requests.get('http://localhost/export.xml')

In [34]:
response.ok

True

In [35]:
import xmltodict
import json

In [36]:
%%time
d = xmltodict.parse(response.content)

CPU times: user 17.1 s, sys: 3.36 s, total: 20.4 s
Wall time: 24.4 s

In [37]:
print(json.dumps(d, indent=2)[:750])
print('.\n'*3)

{
  "HealthData": {
    "@locale": "en_US",
    "ExportDate": {
      "@value": "2020-01-27 15:56:23 -0800"
    },
    "Me": {
      "@HKCharacteristicTypeIdentifierDateOfBirth": "1966-05-03",
      "@HKCharacteristicTypeIdentifierBiologicalSex": "HKBiologicalSexMale",
      "@HKCharacteristicTypeIdentifierBloodType": "HKBloodTypeNotSet",
      "@HKCharacteristicTypeIdentifierFitzpatrickSkinType": "HKFitzpatrickSkinTypeNotSet"
    },
    "Record": [
      {
        "@type": "HKQuantityTypeIdentifierDietaryWater",
        "@sourceName": "My Water",
        "@sourceVersion": "3.4.0.6",
        "@unit": "mL",
        "@creationDate": "2017-02-12 13:30:40 -0800",
        "@startDate": "2017-02-12 13:30:40 -0800",
        "@endDate": "2017-02-12
.
.
.

In [38]:
import pandas as pd

In [39]:
df = pd.DataFrame.from_dict(d['HealthData']['Record'])

In [40]:
df.columns

Index(['@type', '@sourceName', '@sourceVersion', '@unit', '@creationDate',
       '@startDate', '@endDate', '@value', 'MetadataEntry', '@device'],
      dtype='object')

In [41]:
df.shape

(711262, 10)

In [42]:
df.columns

Index(['@type', '@sourceName', '@sourceVersion', '@unit', '@creationDate',
       '@startDate', '@endDate', '@value', 'MetadataEntry', '@device'],
      dtype='object')

In [43]:
df['@sourceName'].value_counts()

Christopher’s Apple Watch    408952
Filchy                       297357
MyFitnessPal                   2195
Clock                          1392
Health                         1053
Carb Manager                    204
My Water                         45
Headspace                        41
SnoreLab                         23
Name: @sourceName, dtype: int64

In [44]:
df['@type'].value_counts()

HKQuantityTypeIdentifierActiveEnergyBurned           248275
HKQuantityTypeIdentifierDistanceWalkingRunning       181639
HKQuantityTypeIdentifierStepCount                    176810
HKQuantityTypeIdentifierHeartRate                     45208
HKQuantityTypeIdentifierBasalEnergyBurned             39648
HKQuantityTypeIdentifierAppleExerciseTime              6351
HKCategoryTypeIdentifierAppleStandHour                 4742
HKQuantityTypeIdentifierFlightsClimbed                 3634
HKCategoryTypeIdentifierSleepAnalysis                  1413
HKQuantityTypeIdentifierBodyMass                        879
HKQuantityTypeIdentifierBodyFatPercentage               451
HKQuantityTypeIdentifierBodyMassIndex                   328
HKQuantityTypeIdentifierDietaryIron                     119
HKQuantityTypeIdentifierDietaryCalcium                  118
HKQuantityTypeIdentifierDietaryPotassium                115
HKQuantityTypeIdentifierDietarySugar                    114
HKQuantityTypeIdentifierDietaryCarbohydrates            114
HKQuantityTypeIdentifierDietaryProtein                  113
HKQuantityTypeIdentifierDietarySodium                   113
HKQuantityTypeIdentifierDietaryFatMonounsaturated       112
HKQuantityTypeIdentifierDietaryFatPolyunsaturated       112
HKQuantityTypeIdentifierDietaryFiber                    112
HKQuantityTypeIdentifierDietaryVitaminC                 112
HKQuantityTypeIdentifierDietaryFatSaturated             110
HKQuantityTypeIdentifierDietaryCholesterol              110
HKQuantityTypeIdentifierDietaryEnergyConsumed           108
HKQuantityTypeIdentifierDietaryFatTotal                 108
HKQuantityTypeIdentifierDietaryWater                     45
HKCategoryTypeIdentifierMindfulSession                   41
HKQuantityTypeIdentifierDietaryCopper                     9
HKQuantityTypeIdentifierDietaryPhosphorus                 7
HKQuantityTypeIdentifierDietaryVitaminE                   7
HKQuantityTypeIdentifierDietaryMagnesium                  7
HKQuantityTypeIdentifierDietaryFolate                     7
HKQuantityTypeIdentifierDietaryVitaminD                   7
HKQuantityTypeIdentifierDietaryNiacin                     7
HKQuantityTypeIdentifierDietaryVitaminB6                  7
HKQuantityTypeIdentifierDietaryZinc                       7
HKQuantityTypeIdentifierDietaryVitaminK                   7
HKQuantityTypeIdentifierDietaryVitaminB12                 7
HKQuantityTypeIdentifierDietaryThiamin                    7
HKQuantityTypeIdentifierDietarySelenium                   7
HKQuantityTypeIdentifierDietaryRiboflavin                 7
HKQuantityTypeIdentifierDietaryVitaminA                   6
HKQuantityTypeIdentifierHeight                            2
Name: @type, dtype: int64

In [45]:
#body = df['@type'] == 'HKQuantityTypeIdentifierBodyMass'

In [46]:
#body.dropna()

In [47]:
#body.value_counts()

In [48]:
#body.shape

In [49]:
weight = df[df['@type'] == 'HKQuantityTypeIdentifierBodyMass']

In [50]:
weight.head()

,@type,@sourceName,@sourceVersion,@unit,@creationDate,@startDate,@endDate,@value,MetadataEntry,@device
375,HKQuantityTypeIdentifierBodyMass,Filchy,9.3.2,lb,2016-06-20 15:06:04 -0800,2016-06-20 15:06:04 -0800,2016-06-20 15:06:04 -0800,157,NaN,NaN
376,HKQuantityTypeIdentifierBodyMass,MyFitnessPal,15212,lb,2016-06-27 14:23:55 -0800,2016-06-26 14:23:00 -0800,2016-06-26 14:23:00 -0800,154.8,NaN,NaN
377,HKQuantityTypeIdentifierBodyMass,MyFitnessPal,15212,lb,2016-06-29 13:09:24 -0800,2016-06-27 13:09:00 -0800,2016-06-27 13:09:00 -0800,154.6,NaN,NaN
378,HKQuantityTypeIdentifierBodyMass,MyFitnessPal,15212,lb,2016-06-30 06:32:49 -0800,2016-06-28 06:32:00 -0800,2016-06-28 06:32:00 -0800,153.8,NaN,NaN
379,HKQuantityTypeIdentifierBodyMass,MyFitnessPal,15212,lb,2016-06-30 06:39:40 -0800,2016-06-29 06:39:00 -0800,2016-06-29 06:39:00 -0800,153,NaN,NaN

In [51]:
weight.shape

(879, 10)

In [52]:
fat = df[df['@type'] == 'HKQuantityTypeIdentifierBodyFatPercentage']

In [53]:
fat.head()

,@type,@sourceName,@sourceVersion,@unit,@creationDate,@startDate,@endDate,@value,MetadataEntry,@device
46462,HKQuantityTypeIdentifierBodyFatPercentage,Health,10.3.1,%,2017-04-17 06:03:57 -0800,2017-04-17 06:03:00 -0800,2017-04-17 06:03:00 -0800,0.129,"{'@key': 'HKWasUserEntered', '@value': '1'}",NaN
46463,HKQuantityTypeIdentifierBodyFatPercentage,Health,10.3.1,%,2017-04-18 05:34:33 -0800,2017-04-18 05:34:00 -0800,2017-04-18 05:34:00 -0800,0.128,"{'@key': 'HKWasUserEntered', '@value': '1'}",NaN
46464,HKQuantityTypeIdentifierBodyFatPercentage,Health,10.3.1,%,2017-04-19 06:24:15 -0800,2017-04-19 06:24:00 -0800,2017-04-19 06:24:00 -0800,0.128,"{'@key': 'HKWasUserEntered', '@value': '1'}",NaN
46465,HKQuantityTypeIdentifierBodyFatPercentage,Health,10.3.1,%,2017-04-20 05:45:47 -0800,2017-04-20 05:45:00 -0800,2017-04-20 05:45:00 -0800,0.129,"{'@key': 'HKWasUserEntered', '@value': '1'}",NaN
46466,HKQuantityTypeIdentifierBodyFatPercentage,Health,10.3.1,%,2017-04-21 06:49:59 -0800,2017-04-21 06:49:00 -0800,2017-04-21 06:49:00 -0800,0.128,"{'@key': 'HKWasUserEntered', '@value': '1'}",NaN

In [54]:
fat.shape

(451, 10)

In [55]:
fat = fat.drop(columns=['@type','@sourceName','@sourceVersion','MetadataEntry','@device','@endDate','@startDate'])

In [61]:
fat

      @unit              @creationDate @value                      date
46462     %  2017-04-17 06:03:57 -0800  0.129 2017-04-17 06:03:57-08:00
46463     %  2017-04-18 05:34:33 -0800  0.128 2017-04-18 05:34:33-08:00
46464     %  2017-04-19 06:24:15 -0800  0.128 2017-04-19 06:24:15-08:00
46465     %  2017-04-20 05:45:47 -0800  0.129 2017-04-20 05:45:47-08:00
46466     %  2017-04-21 06:49:59 -0800  0.128 2017-04-21 06:49:59-08:00
...     ...                        ...    ...                       ...
46908     %  2020-01-22 06:45:28 -0800  0.143 2020-01-22 06:45:28-08:00
46909     %  2020-01-23 06:01:57 -0800  0.144 2020-01-23 06:01:57-08:00
46910     %  2020-01-25 07:47:31 -0800  0.143 2020-01-25 07:47:31-08:00
46911     %  2020-01-26 07:39:17 -0800  0.144 2020-01-26 07:39:17-08:00
46912     %  2020-01-27 06:55:30 -0800  0.141 2020-01-27 06:55:30-08:00

[451 rows x 4 columns]

In [63]:
fat['date']= pd.to_datetime(df['@creationDate'])

In [57]:
weight = weight.drop(columns=['@type','@sourceName','@sourceVersion','MetadataEntry','@device','@endDate','@startDate'])

In [58]:
weight

     @unit              @creationDate @value
375     lb  2016-06-20 15:06:04 -0800    157
376     lb  2016-06-27 14:23:55 -0800  154.8
377     lb  2016-06-29 13:09:24 -0800  154.6
378     lb  2016-06-30 06:32:49 -0800  153.8
379     lb  2016-06-30 06:39:40 -0800    153
...    ...                        ...    ...
1249    lb  2020-01-22 06:44:48 -0800  156.6
1250    lb  2020-01-23 06:01:45 -0800  157.2
1251    lb  2020-01-25 07:47:24 -0800    156
1252    lb  2020-01-26 07:39:11 -0800  156.8
1253    lb  2020-01-27 06:55:24 -0800  155.8

[879 rows x 3 columns]

In [62]:
fat.head()

      @unit              @creationDate @value                      date
46462     %  2017-04-17 06:03:57 -0800  0.129 2017-04-17 06:03:57-08:00
46463     %  2017-04-18 05:34:33 -0800  0.128 2017-04-18 05:34:33-08:00
46464     %  2017-04-19 06:24:15 -0800  0.128 2017-04-19 06:24:15-08:00
46465     %  2017-04-20 05:45:47 -0800  0.129 2017-04-20 05:45:47-08:00
46466     %  2017-04-21 06:49:59 -0800  0.128 2017-04-21 06:49:59-08:00

In [78]:
len(fat)

451

In [66]:
fat['date']

46462   2017-04-17 06:03:57-08:00
46463   2017-04-18 05:34:33-08:00
46464   2017-04-19 06:24:15-08:00
46465   2017-04-20 05:45:47-08:00
46466   2017-04-21 06:49:59-08:00
                   ...
46908   2020-01-22 06:45:28-08:00
46909   2020-01-23 06:01:57-08:00
46910   2020-01-25 07:47:31-08:00
46911   2020-01-26 07:39:17-08:00
46912   2020-01-27 06:55:30-08:00
Name: date, Length: 451, dtype: datetime64[ns, pytz.FixedOffset(-480)]

In [70]:
fat['date'][46462].day_name()

'Monday'

In [75]:
fat['date'][46462].day

17

In [76]:
fat['date'][46462].year

2017

In [77]:
fat['date'][46462].month

4