In [52]:
import pandas as pd

In [53]:
pd.options.mode.chained_assignment = None

In [54]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTMIUP6_JIoxWSAFCe1h6Hz12r-41t6qHv5cCXIBmYJUK2KS188pKkZnkr4jJRpIcC3mRZV36z21oNv/pub?gid=0&single=true&output=csv')

In [57]:
df['Date'] = pd.to_datetime(df['Date'])

for i in range(len(df['Date'])):
    df['DOW'][i] = df['Date'][i].day_name()

In [58]:
features = ['Weight','Fat','Recovery','Strain','HRV','RHR','Sleep Debt','MHR',
            'REM','Deep Sleep','Calories','AHR']
drops = ['Acro','Meditate','Snore','Coffee','Handstands','Spanish','Push-ups',
         'Pull-ups','Sit-ups','Swing','Carbs','Journal','Spinal Mobility',
         'Flexibility','Notes']

In [87]:
for each in features:
    df[each] = df[each].interpolate(method='linear')

In [60]:
df = df.drop(labels=drops,axis=1)

In [61]:
df.shape

(393, 14)

In [62]:
df.head()

,Date,Weight,Fat,Sleep Debt,REM,Deep Sleep,Strain,Calories,AHR,MHR,HRV,RHR,Recovery,DOW
0,2019-01-01,149.4,12.6,71.0,69.0,89.0,11.6,2819.0,77.0,156.0,38.0,61.0,53.0,Tuesday
1,2019-01-02,149.4,12.6,71.0,69.0,89.0,11.5,3173.0,76.0,168.0,36.0,61.0,55.0,Wednesday
2,2019-01-03,149.2,12.6,76.0,123.0,20.0,12.5,3441.0,75.0,155.0,50.0,60.0,90.0,Thursday
3,2019-01-04,149.2,12.6,23.0,123.0,21.0,15.5,5318.0,82.0,163.0,26.0,61.0,34.0,Friday
4,2019-01-05,149.6,12.8,34.0,77.0,10.0,13.9,4013.0,81.0,169.0,24.0,65.0,25.0,Saturday

In [63]:
df.tail()

,Date,Weight,Fat,Sleep Debt,REM,Deep Sleep,Strain,Calories,AHR,MHR,HRV,RHR,Recovery,DOW
388,2020-01-24,157.2,14.4,89.0,93.0,130.0,16.8,3274.0,90.0,163.0,41.0,67.0,79.0,Friday
389,2020-01-25,156.0,14.3,85.0,105.0,81.0,15.8,2837.0,87.0,163.0,31.0,63.0,47.0,Saturday
390,2020-01-26,156.8,14.4,87.0,57.0,117.0,9.2,1724.0,81.0,159.0,35.0,60.0,59.0,Sunday
391,2020-01-27,155.8,14.1,66.0,103.0,115.0,8.5,1893.0,78.0,160.0,39.0,61.0,73.0,Monday
392,2020-01-28,157.2,14.4,66.0,80.0,106.0,8.5,1893.0,78.0,160.0,29.0,67.0,38.0,Tuesday

In [89]:
df['Strain'].mean()

11.237277353689556

In [92]:
for i in features:
    print(i,df[i].mean())

Weight 154.04783715012732
Fat 13.80419847328244
Recovery 64.52544529262077
Strain 11.237277353689556
HRV 38.08269720101781
RHR 63.764631043257
Sleep Debt 83.39185750636132
MHR 159.47582697201017
REM 94.24173027989822
Deep Sleep 75.9885496183206
Calories 2702.3651399491096
AHR 79.86386768447836

In [64]:
df['Sleep Debt']
sleep_debt = df['Sleep Debt'].sum()/len(df['Sleep Debt'])
print('Average Sleep Debt Minutes / Day :',sleep_debt)
df['REM']
rem = df['REM'].sum()/len(df['REM'])
print('Average REM Minutes / Day :',rem)
df['Deep Sleep']
deep_sleep = df['Deep Sleep'].sum()/len(df['Deep Sleep'])
print('Average Deep Sleep Minutes / Day :',deep_sleep)
pd.cut(df['Sleep Debt'], bins=5)
print(df['Sleep Debt'].value_counts(bins=5, sort=False))
pd.cut(df['REM'], bins=4)
print(df['REM'].value_counts(bins=4, sort=False))
pd.cut(df['Deep Sleep'], bins=4)
print(df['Deep Sleep'].value_counts(bins=4, sort=False))

Average Sleep Debt Minutes / Day : 83.39185750636132
Average REM Minutes / Day : 94.24173027989822
Average Deep Sleep Minutes / Day : 75.9885496183206
(-0.175, 34.8]     16
(34.8, 69.6]       87
(69.6, 104.4]     228
(104.4, 139.2]     61
(139.2, 174.0]      1
Name: Sleep Debt, dtype: int64
(4.818, 50.25]      44
(50.25, 95.5]      149
(95.5, 140.75]     175
(140.75, 186.0]     25
Name: REM, dtype: int64
(1.836, 42.75]      51
(42.75, 83.5]      204
(83.5, 124.25]     122
(124.25, 165.0]     16
Name: Deep Sleep, dtype: int64

In [65]:
calories = df['Calories'].sum()/len(df['Calories'])
print('Calories / Day :',calories)

Calories / Day : 2702.3651399491096

In [66]:
print(calories*7)

18916.555979643766

In [67]:
df['Calories'].sum()

1062029.5

In [68]:
pd.cut(df['Calories'], bins=7)
df['Calories'].value_counts(bins=7, sort=False)

(1471.156, 2024.0]     49
(2024.0, 2573.0]      161
(2573.0, 3122.0]       98
(3122.0, 3671.0]       39
(3671.0, 4220.0]       24
(4220.0, 4769.0]       15
(4769.0, 5318.0]        7
Name: Calories, dtype: int64

In [69]:
hrv = df['HRV'].sum()/len(df['HRV'])
print('HRV / Day :',hrv)

HRV / Day : 38.08269720101781

In [70]:
pd.cut(df['HRV'], bins=7)
df['HRV'].value_counts(bins=7, sort=False)

(9.928, 20.143]      36
(20.143, 30.286]     88
(30.286, 40.429]     72
(40.429, 50.571]    173
(50.571, 60.714]     22
(60.714, 70.857]      0
(70.857, 81.0]        2
Name: HRV, dtype: int64

In [71]:
rhr = df['RHR'].sum()/len(df['RHR'])
print('RHR / Day :',rhr)

RHR / Day : 63.764631043257

In [72]:
pd.cut(df['RHR'], bins=7)
df['RHR'].value_counts(bins=7, sort=False)

(30.945, 38.714]      1
(38.714, 46.429]      0
(46.429, 54.143]      0
(54.143, 61.857]    155
(61.857, 69.571]    198
(69.571, 77.286]     31
(77.286, 85.0]        8
Name: RHR, dtype: int64

In [73]:
ahr = df['AHR'].sum()/len(df['AHR'])
print('AHR / Day :',ahr)

AHR / Day : 79.86386768447836

In [74]:
pd.cut(df['AHR'], bins=7)
df['AHR'].value_counts(bins=7, sort=False)

(70.97699999999999, 74.143]     19
(74.143, 77.286]                39
(77.286, 80.429]               233
(80.429, 83.571]                46
(83.571, 86.714]                29
(86.714, 89.857]                18
(89.857, 93.0]                   9
Name: AHR, dtype: int64

In [75]:
mhr = df['MHR'].sum()/len(df['MHR'])
print('MHR / Day :',mhr)

MHR / Day : 159.47582697201017

In [76]:
pd.cut(df['MHR'], bins=6)
df['MHR'].value_counts(bins=6, sort=False)

(131.938, 142.167]      4
(142.167, 152.333]     39
(152.333, 162.5]      240
(162.5, 172.667]       77
(172.667, 182.833]     32
(182.833, 193.0]        1
Name: MHR, dtype: int64

In [77]:
weight = df['Weight'].sum()/len(df['Weight'])
print('Weight / Day :',weight)

Weight / Day : 154.04783715012724

In [78]:
#df['Weight']

###Goal for weight is to have the range between the bottom of the bottom bin and the top of the top bin to be as close as possible to each other and to be shrinking over time.

In [79]:
pd.cut(df['Weight'], bins=2)
df['Weight'].value_counts(bins=2, sort=False)

(148.78799999999998, 154.2]    176
(154.2, 159.6]                 217
Name: Weight, dtype: int64

###Goal for fat is shrink the average to below 13%. After that a range will be formulated

In [80]:
weight = df['Fat'].sum()/len(df['Fat'])
print('Fat / Day :',weight)

Fat / Day : 13.804198473282446

###Range on fat should have the top bin constantly shrinking, or at least holding steady.

In [81]:
pd.cut(df['Fat'], bins=5)
df['Fat'].value_counts(bins=5, sort=False)

(12.597000000000001, 13.08]     67
(13.08, 13.56]                  71
(13.56, 14.04]                  61
(14.04, 14.52]                 157
(14.52, 15.0]                   37
Name: Fat, dtype: int64

In [82]:
df['Strain']
strain = df['Strain'].sum()/len(df['Strain'])
print('Average Strain / Day :',strain)

Average Strain / Day : 11.237277353689567

In [83]:
pd.cut(df['Strain'], bins=5)
df['Strain'].value_counts(bins=5, sort=False)

(4.787, 7.2]     10
(7.2, 9.6]       35
(9.6, 12.0]     225
(12.0, 14.4]     99
(14.4, 16.8]     24
Name: Strain, dtype: int64

In [84]:
df['Recovery']
recovery = df['Recovery'].sum()/len(df['Recovery'])
print('Average Recovery / Day :',recovery)

Average Recovery / Day : 64.52544529262086

In [85]:
pd.cut(df['Recovery'], bins=5)
df['Recovery'].value_counts(bins=5, sort=False)

(8.912, 26.4]     19
(26.4, 43.8]      88
(43.8, 61.2]      62
(61.2, 78.6]      36
(78.6, 96.0]     188
Name: Recovery, dtype: int64